body {
    margin: 0;
    font-family: 'Bell MT','Bodoni MT', sans-serif;
    background: linear-gradient( #ffe97c,#fce362);
}

/* En-tête */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: #f4eecf;
}

.logo img {
    height: 90px;
}

.loupe {
    width: 1%;
}

header input {
    width: 300px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* CONTAINER */
.container {
    display: flex;
    padding: 30px;
    margin: 30px auto;
    gap: 20px;
    width: 1000px;
    height: 1000px;
    background:  #ffe97c;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-family: 'Bell MT','Bodoni MT', sans-serif;
    
}

/* IMAGE PRINCIPALE */
.left {
    width: 40%;
    color:  #ffe97c;
    padding: 5px;
}

.left img {
    width: 100%;
    border: 3px solid black;
}

/* MINIATURES */
.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.thumbnails img {
    width: 120px;
    border: 3px solid black;
}

/* DROITE */
.right {
    /*flex: 2;*/
    width: 50%;
    padding-left: 20px;
    color:  white;
}

.right h1 {
    font-size: 24px;
    font-weight: bold;
}

.right h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.price {
    margin: 15px 0;
    font-size: 18px;
}

.desc {
    font-size: 14px;
    line-height: 1.0;
}

.reviews {
    margin: 10px 0;
}

.stars {
    color: gold;
    font-size: 22px;
}

.note {
    font-size: 13px;
    color: #555;
}

/* QUANTITÉ */
.quantity {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.quantity button {
    padding: 10px 10px;
    font-size: 18px;
}

.quantity input {
    width: 40px;
    text-align: center;
}

/* BOUTON */
.panier {
    background: black;
    color: white;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 2%;
}

/* BARRE INFOS */
.info-bar {
    margin-top: 20px;
    background: #111;
    padding-left: 0%;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    width: 100%;
}

.info-bar table {
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background-color: white;
    color: black;
}

footer span{
    font-family: "Elephant", serif;
}